<!DOCTYPE html>
{% load static %}
<html lang="en" class="no-js">
<head>

    <!--title-->
    <title>KEIV Connect</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}"/>


    <!--meta-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Stylesheets-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">

    <!--javascripts-->
    <script type="text/javascript" src="{% static 'js/plugin.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $("#header").load("/header");
            $("#footer").load("/footer");
        });
    </script>
</head>
<body>
<header id="header">
</header>
<main class="smallmain">
    <div class="container">
        <div class="row">
            <!--reset password-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="border forgetpw-form clearfix" style="box-shadow: 0 0 10px #666; background: #fff;">
                    <h3 class="text-center">Hello User</h3>
                    <p>
                        {{ errormsg }}
                    </p>
                </div>
            </div>
        </div>
        <!--reset password-->
    </div>
</main>

<footer id="footer">
</footer>
</body>
</html>

